.column {
    float: left;
    width: 30%;
    padding: 10px;
    border: 1px solid lightgray;

    border-radius: 5px;

    margin-right: 10px;
}

.card {
    border: 1px solid lightgray;

    border-radius: 5px;

    margin-bottom: 10px;
    padding: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

button {
    background-color: lightseagreen;
    color: white;
}