<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Notes App</title>
</head>
<body>
    <div id="app">

        <div class="column" v-for="(column, index) in columns" :key="index">
            <h2>Столбец {{ index + 1 }}</h2>

            <div v-if="!isColumnLocked(index)">

                <div class="card" v-for="(card, cardIndex) in column.cards" :key="cardIndex">
                    <h3>{{ card.title }}</h3>

                    <ul>
                        <li v-for="(item, itemIndex) in card.items" :key="itemIndex">
                            <input type="checkbox" v-model="item.completed" @change="updateCard(card)">
                            <span :class="{ completed: item.completed }">{{ item.text }}</span>
                        </li>
                    </ul>
                    <button @click="removeCard(index, cardIndex)">Удалить карточку</button>
                </div>
                <button v-if="checkForAddCard(index)" @click="addCard(index)">Добавить карточку</button>
            </div>

            <p v-if="isColumnLocked(index)">Столбец заблокирован для редактирования</p>

        </div>

        <div class="clear"></div>

    </div>
</body>
</html>